<!doctype html>
<html ng-app="prefalyticsApp">
  <head>
    <meta charset="utf-8">
    <title>Prefi</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/prefi.css">
  </head>
  <body ng-controller="HomeCtrl">
    <!--Nav-->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Prefi</a>
      </div>
      <div class="collapse navbar-collapse">
        <p class="navbar-text">Hello {{user.first_name}}</p>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-ng-show="loggedIn" href="#" data-ng-click="Logout()">Disconnect Facebook</a></li>
        </ul>
      </div>
    </nav>

    <!--Content-->
    <div class="container text-center">
      <div class="col-md-12" data-ng-show="loggedIn">
      <div class="panel panel-default">
        <div class="panel-heading">Books</div>
          <div class="panel-body">
            <button class="btn btn-success" data-ng-show="!gotBooks" data-ng-click="GetBooks()">Fetch books</button>
          </div>
        </div>
      </div>
      <button data-ng-show="!loggedIn" class="btn btn-primary btn-xl" data-ng-click="Login()">Connect my Facebook</button>

    </div>

    <!--scripts -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="js/controllers.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="js/d3books.js"></script>

  </body>
</html>