<!doctype html>
<html ng-app="prefalyticsApp">
  <head>
    <meta charset="utf-8">
    <title>Prefi</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/prefi.css">
  </head>
  <body ng-controller="HomeCtrl">
    <!--Nav-->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Prefi</a>
      </div>
      <div class="collapse navbar-collapse">
        <p class="navbar-text">Hello {{user.first_name}}</p>
      </div>
    </nav>
    <!--body content-->
    <div class="container text-center">
      <button data-ng-show="!loggedIn" class="btn btn-primary btn-xl" data-ng-click="IntentLogin()">Connect my Facebook</button>
      <button data-ng-show="loggedIn" class="btn btn-danger btn-xl" data-ng-click="Logout()">Disconnect Facebook</button>
    </div>
  </body>
</html>